<div class="news">
    <div class="headlines">
        <div class="image">
            <a href="{{news[isImage()].url}}"><img class="img-head" src="{{ news[isImage()].urlToImage }}" alt=""></a>
        </div>
        <div class="not-img">
            <h2 class="header"><a class="title" href="{{news[isImage()].url}}">{{ news[index].title }}</a></h2>
            <p *ngIf="news[isImage()].publishedAt">Published at {{ news[isImage()].publishedAt | date:'MM/dd/yyyy'}}</p>
            <p *ngIf="news[isImage()].author">By {{news[isImage()].author}}</p>
            <p *ngIf="news[isImage()].description">{{news[isImage()].description}}...</p>
        </div>
        
    </div>
    
    <div class="another-news">
        <h2 class="latest"><i class="fa fa-star" aria-hidden="true"></i> Other News <i class="fa fa-star" aria-hidden="true"></i></h2>
        <div class="box"> 
            <div class="component" *ngFor="let n of news | slice: 1">  
                <h2><a href="{{n.url}}"><i class="fa fa-angle-right" aria-hidden="true"></i> {{n.title}}</a></h2>
                <p *ngIf="n.publishedAt">Published at {{ n.publishedAt | date:'MM/dd/yyyy'}}</p>
                <p *ngIf="n.author">By {{n.author}}</p>
                <p *ngIf="n.description">{{n.description}} ...</p>
            </div>
        </div>
    </div>
    
</div>
