.news {
    position: relative;
    /* left: 200px; */
    width: 100%;
    height: calc(100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-top: 20px;
}
.headlines {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    font-family: 'Oswald', sans-serif;
}

.headlines .title:hover {
    text-decoration: underline;
}


.image {
    text-align: center;
    width: 90%;
    height: 400px;
}

img {
    /* padding-top: 20px;
    padding-left: 10px; */
    width: 100%;
    height: 400px;
    border: 1px solid #eee;
}


.not-img {
    padding: 5px 62px;
    letter-spacing: 1px;
    font-weight: 200;
}
.another-news {
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.component p  {
    font-family: 'Noto Sans', sans-serif;
    color: #111;
    font-size: 12px;
}

.latest {
    font-family: 'Lato', sans-serif;
    color: #32cd32;
    padding-bottom: 20px;
    text-shadow: 1px 2px 2px green;
}
.box {
    height: 500px;
    width: 80%;
    border: 1px solid #eee;
    overflow: scroll;
    overflow-x: hidden;
}


.box::-webkit-scrollbar {
    width: 10px;
}

.box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.box::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
}

.box p {
    color: #eee;
}

a {
    text-decoration: none;
    color: #eee;
    font-family: 'Noto Sans';
    font-weight: 400;
}

.component {
    border-bottom: 1px dashed #ddd;
    padding: 10px;
}

.component:hover {
    background: rgba(255,255,255,0.1);
}

@media only screen and (max-width: 1440px) {
    .not-img {
        padding: 5px 32px;
    }
}
@media only screen and (max-width: 1080px) {
    .news {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }

    .image {
        width: 80%;
        height: 400px;
    }
    
    img {
        /* padding-top: 20px;
        padding-left: 10px; */
        width: 100%;
        height: 400px;
        border: 1px solid #eee;
    }

    .not-img {
        padding: 5px 100px;
    }
}

@media only screen and (max-width: 576px) {
    .headlines {
        padding: 20px 0;
    }
    .not-img {
        padding: 0 20px;
    }
    .image {
        text-align: center;
        width: 100%;
        height: 400px;
    }
    
    img {
        width: 100%;
        height: 400px;
        border: 1px solid #eee;
    }

    .box {
        height: 500px;
        width: 100%;
        border: 1px solid #eee;
        overflow: scroll;
        overflow-x: hidden;
    }
}