<div class="title">
    <h1 class="head">Coronavirus Data Around The World</h1>
</div>
<div class="charts-data">
    <div class="chart">
        <h2 class="topic">Display Chart</h2>
        <div class="custom-select">
            <select (change)="getCountry($event.target.value)">
                <option>All</option>
                <option *ngFor="let country of countries" value="{{country.Country}}">
                    {{ country.Country }}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" id="getInfo" (click)="getInfo()">Get Info</button>
        <button class="btn btn-warning" id="showButton" (click)="showChart()">Show Chart</button>
        <button class="btn btn-danger" id="clear" (click)="clear()">Clear</button>
        <!-- <ul>
            <li *ngFor="let confirmed of confirmArray">
                {{ confirmed }}
            </li>
        </ul> -->
        
        <div class="canvas">
            <canvas id="myChart" width="400" height="700"></canvas>
        </div>
    </div>
    <div class="data">
        <div  class="table">
            <div class="inside">
                <h2 class="data-title">Specific data</h2>
                <div class="confirmed"><span>Confirmed Cases:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getConfirmed() }}</div>
                <div class="recovered"><span>Recovered Cases:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getRecovered() }}</div>
                <div class="death"><span>Deaths: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getDeath() }}</div>
            </div>
            
        </div>
    </div>
</div>
