<div class="title">
    <h1 class="head">Coronavirus Data Around The World</h1>
</div>
<div class="charts-data">
    <div class="chart">
        <h2 class="topic">Display Chart</h2>
        <div class="custom-select">
            <select (change)="getCountry($event.target.value)">
                <option>All</option>
                <option *ngFor="let country of countries" value="{{country.Country}}">
                    {{ country.Country }}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" id="getInfo" (click)="getInfo()">Get Info</button>
        <button class="btn btn-success" id="showButton" (click)="showChart()">Show Chart</button>
        <button class="btn btn-danger" id="clear" (click)="clear()">Clear</button>
        <!-- <ul>
            <li *ngFor="let confirmed of confirmArray">
                {{ confirmed }}
            </li>
        </ul> -->
        
        <div class="canvas">
            <canvas id="myChart" width="400" height="700"></canvas>
        </div>
    </div>
    <div class="data">
        <div class="table">
            <ul>
                <li><span>Confirmed Cases:</span> {{ getConfirmed() }}</li>
                <li><span>Recovered Cases:</span> {{ getRecovered() }}</li>
                <li><span>Deaths: </span> {{ getDeath() }}</li>

            </ul>
        </div>
    </div>
</div>
