<div id="sb" class="sidebar" >
    <!-- <div id="ham" class="burger" onclick="toggle()">
        <div id="one" class="burg"></div>
        <div id="two" class="burg"></div>
        <div id="three" class="burg"></div>
    </div> -->
    <p>Phillip Nguyen</p>
    <ul>
        <li><a href=""><i class="fas fa-home"></i> Home</a></li>
        <li><a href=""><i class="fas fa-address-card"></i> News</a></li>
        <li><a href=""><i class="fas fa-address-book"></i> Chart & Info</a></li>
        <li><a href=""><i class="fas fa-sign-in-alt"></i> Contact</a></li>
    </ul>
</div>