/* You can add global styles to this file, and also import other style files */
body {
    background-color: #222629;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #86C232;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.4s ease-in-out;
}

button:hover {
    background-color: #61892F;
    border: 1px solid #61892F;
}
